@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  li {
    margin: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button:is(:focus, :focus-visible, :focus-within) {
  box-shadow: none;
  outline: none;
  outline-color: transparent;
}